<html>
<head>
    <title>$i18n.getText("teamer-ext.admin.planning.page.title")</title>
    $webResourceManager.requireResource("teamerExt.teamer-plugin:mustache-templates")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-select")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-label")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-page-layout")
    $webResourceManager.requireResource("com.atlassian.auiplugin:dialog2")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-experimental-restfultable")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-toggle")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-forms")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-select2")
</head>
<body>

<section id="content" role="main">
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <div class="aui-page-panel-nav">
                <h3>MANAGE YOUR PROFITS</h3>
                <div class="aui-navgroup-inner">
                    <ul class="aui-nav">
                        <li style="margin-top: 15px;">
                            <span class="aui-icon aui-icon-large aui-iconfont-queues">  Plan </span> <span style="    vertical-align: text-top;
font-size: 20px;"><a style="color: black; text-decoration: none;" href="/jira/secure/teamAction.jspa"> Plan</a></span>
                        </li>
                        <li style="margin-top: 15px;">
                            <span class="aui-icon aui-icon-large aui-iconfont-group">  User </span> <span style="     vertical-align: text-top;
font-size: 20px;"><a style="color: black; text-decoration: none;" href="/jira/secure/usersAction.jspa">User </a></span>
                        </li>
                        <li style="margin-top: 15px;">
                                <a class="aui-button" href="/jira/secure/teamerAction.jspa" id="button-import-user">Import workers</a>
                        </li>
                    </ul>
                </div>
            </div>


            <section class="aui-page-panel-content">
                <table id="usersList"></table>

            </section>
            <aside class="aui-page-panel-sidebar">
            </aside>
        </div>
    </div>
</section>

    $webResourceManager.requireResource("teamerExt.teamer-plugin:teamer-plugin-resources-users")
</body>
</html>