<html>
<head>
    <title>$i18n.getText("teamer-ext.admin.planning.page.title")</title>
    $webResourceManager.requireResource("teamerExt.teamer-plugin:mustache-templates")

    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-select")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-label")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-page-layout")
    $webResourceManager.requireResource("com.atlassian.auiplugin:dialog2")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-experimental-restfultable")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-toggle")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-forms")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-select2")


    <script type="text/template" id="editInputTemplate">
        <span class="editable-container {{classField}}">
            <span class="{{classField}} editable-field-input content" type="text" id="{{id}}" name="{{name}}">{{value}}</span>
            <span class="edit overlay-icon aui-icon aui-icon-small aui-iconfont-edit" contenteditable="true"></span>
        </span>
        <div class="save-options" tabindex="1">
            <button class="aui-button submit input-editable-save">
                <span class="aui-icon aui-icon-small aui-iconfont-success">Zapisz</span>
            </button>
            <button class="aui-button cancel input-editable-cancel">
                <span class="aui-icon aui-icon-small aui-iconfont-close-dialog">Anuluj</span>
            </button>
        </div>
    </script>

    <script type="text/template" id="team-row">
      #*  <aui-select
                id="async-product-single-select"
                name="product"
                placeholder="Select a product"
                src="/jira/rest/api/2/user/picker"
                value="type to trigger async"
                can-create-values="true"
        ></aui-select>
*#
        <div class="aui-group">
            <div class="field-group top-label">
                <span style="float:left" class="team-name-field">
                </span>

                <span style="float:right">
                   <a class="aui-button button-add-project" >dodaj projekt</a></div>
                </span>
            <div class="aui-group project-list">

                </div>
            </div>
            <div class="profit-area" data-team_id="{{teamId}}">
                Zysk z zespołu: <span class="value">{{profit}}</span> zł
            </div>
            <div class="aui-buttons">

                <button class="aui-button save" data-team_id="{{teamId}}">Zapisz zespół</button>
                <button class="aui-button delete" data-team_id="{{teamId}}">Usuń zespół</button>
            </div>
        </div>
    </script>

    <script type="text/template" id="project-result">
        <div class="ddd">
            <p><span>Koszt projektu:<b>{{costProject}} zł</b></span></p>
            <p><span>Suma OKP:<b>{{okpSum}} zł</b></span></p>
            <p> <span>Wynik:<b>{{result}} zł</b></span></p>
            <p> <span>rentowność: <b>{{profitability}}%</b></span></p>
        </div>
    </script>
    <script type="text/template" id="project-row">
        <div class="aui-group">
            <div class="field-group">

               <span style="float:left" class="project-name-field">

               </span>

                <span style="float:right;"  class="project-income-field">
                    </span>

                <br/>
                <br/>
                <div class="aui-buttons">
                    <button class="aui-button remove" data-project_id="{{restfulTableId}}">Usuń projekt</button>
                </div>
            </div>
        </div>

        <div class="aui-group person-list" id="person-list-{{teamId}}_{{restfulTableId}}">
        </div>
        <div></div>


    </script>

    <script type="text/template" id="main-view">
        <div class="aui-tabs horizontal-tabs">
            <ul class="tabs-menu">
                <li class="menu-new-item">
                    <a class="view-teams">+ New Tab</a>
                </li>
            </ul>
        </div>
    </script>

    <script type="text/template" id="single-tab">
        <li data-view_id="{{viewId}}" class="menu-item">
            <a class="view-teams" href="#view{{viewId}}">Tab {{viewId}}</a>
        </li>
</script>

    <script type="text/template" id="single-view">

        <div class="tabs-pane" id="view{{viewId}}">
            <div class="aui-group buttons-teams-manage">
                <div class="aui-group">OKP: <input type="text" value="4500" id="okpCost{{viewId}}"></div>
                <a class="aui-button"  id="button-add-team">dodaj nowy zespół</a>
                <a class="aui-button"  id="button-export-teams">eksportuj</a>
            </div>
            <div class="aui-group teams-list">

            </div>
        </div>
</script>

</head>
<body>
<section id="content" role="main">
    <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
            <div class="aui-page-panel-nav">
                <h3>MANAGE YOUR PROFITS</h3>
                <div class="aui-navgroup-inner">
                    <ul class="aui-nav">
                        <li style="margin-top: 15px;">
                            <span class="aui-icon aui-icon-large aui-iconfont-queues">  Plan </span> <span style="    vertical-align: text-top;
font-size: 20px;"><a style="color: black; text-decoration: none;" href="/jira/secure/teamAction.jspa"> Plan</a></span>
                        </li>
                        <li style="margin-top: 15px;">
                            <span class="aui-icon aui-icon-large aui-iconfont-group">  User </span> <span style="     vertical-align: text-top;
font-size: 20px;"><a style="color: black; text-decoration: none;" href="/jira/secure/usersAction.jspa">User </a></span>
                        </li>
                    </ul>
                </div>
            </div>


            <section class="aui-page-panel-content">

            </section>
            <aside class="aui-page-panel-sidebar">
                <!-- tangental content here -->
            </aside>
        </div>
    </div>
</section>
    $webResourceManager.requireResource("teamerExt.teamer-plugin:teamer-plugin-resources")
</body>
</html>