<html>
<head>
    <title>$i18n.getText("teamer-ext.admin.planning.page.title")</title>
    <meta name="decorator" content="atl.admin">
    $webResourceManager.requireResource("teamerExt.teamer-plugin:mustache-templates")

    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-select")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-label")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-page-layout")
    $webResourceManager.requireResource("com.atlassian.auiplugin:dialog2")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-experimental-restfultable")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-toggle")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-forms")
    $webResourceManager.requireResource("com.atlassian.auiplugin:aui-select2")

    <script type="text/template" id="team-row">
        <div class="aui-group">
            <div class="aui-group">OKP : <span id="okpCost">4500</span>,00 zł</div>
            <div class="field-group top-label">
                <label>Nazwa zespołu
                    <span class="aui-icon icon-required"> required</span>
                </label>
                <input class="team-name" type="text" id="row-{{restfulTableId}}-id"
                       name="row-{{restfulTableId}}-name" title="first name" value="{{teamName}}">
                <div class="aui-page-header-actions">
                  #*  <form class="aui">
                        <p>
                            <aui-select id="select-get-team-{{restfulTableId}}"
                                        placeholder="Wybierz projekt"
                                        src="{{getProjectUrl}}">
                            </aui-select>
                        </p>
                    </form>*#
                    <div class="aui-buttons">

                        <a class="aui-button button-add-project" >dodaj nowy projekt</a>
                    </div>
                    <div style="position: fixed; z-index: -1; height: 1px; width: 1px; top: 215px; left: 1489.53px;">
                    </div>
                </div>
                <div class="aui-group project-list">

                </div>
            </div>
            <div class="">
                Zysk z zespołu: {{profit}}
            </div>
            <button class="save" data-team_id="{{teamId}}">Zapisz zespół</button>
            <button class="delete" data-team_id="{{teamId}}">Usuń zespół</button>
        </div>
    </script>

    <script type="text/template" id="project-result">
        <div class="ddd">
            <p><span>Koszt zespołu:<b>{{costTeam}}</b></span></p>
            <p><span>Suma OKP:<b>{{okpSum}}</b></span></p>
            <p> <span>Wynik:<b>{{result}}</b></span></p>
            <p> <span>rentowność: <b>{{profitability}}</b></span></p>
        </div>
    </script>
    <script type="text/template" id="project-row">
        <div class="aui-group">
            <div class="field-group">
                <label>Nazwa projektu
                    <span class="aui-icon icon-required"> required</span>
                </label>
                <input class="project-name" type="text" title="first name" value="{{projectName}}">

                <label>Przychód
                    <span class="aui-icon icon-required"> required</span>
                </label>
                <input class="project-income" type="text" title="first name" value="{{projectIncome}}">
            </div>
        </div>

        <div class="aui-group person-list" id="person-list-{{teamId}}_{{restfulTableId}}">
        </div>
        <div></div>


    </script>

</head>
<body>


<nav class="aui-header">
    <ul class="aui-nav">
        <li><a href="/jira/secure/usersAction.jspa">Users</a></li>
        <li class="aui-nav-selected"><a href="/jira/secure/projectsAction.jspa">Projects</a></li>
        <li><a href="/jira/secure/teamAction.jspa">Teams</a></li>
    </ul>
</nav>
<div class="aui-page-header-main">
    <h2>Zespoły</h2>
</div>

<div class="aui-group buttons-teams-manage">
<a class="aui-button"  id="button-add-team">dodaj nowy zespół</a>
</div>
<div class="aui-group teams-list">

</div>



    $webResourceManager.requireResource("teamerExt.teamer-plugin:teamer-plugin-resources")

</body>
</html>